/* General styling for the header */
.navbar {
    background-color: rgb(109, 98, 98);
    padding: 10px 20px;
  }
  
  .navbar-brand img {
    width: 60px;
    height: auto;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    color: rgb(199, 60, 60);
  }
  
  .nav-link {
    color: rgb(17, 10, 10);
    font-size: 1.1rem;
    margin-right: 15px;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: var(--dark-green);
  }
  
  .nav-item .lead {
    color: #994570;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-family: fantasy;
  }
  
  .nav-item .lead sup {
    color: var(--dark-green);
    font-size: 1rem;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 576px) {
    .navbar-nav {
      text-align: center;
    }
  
    .nav-link {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  